body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

input, textarea, button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

h2{
  font-weight: bold;
}

button {
  background-color: #ff4757;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #ff6b81;
}

.custom-link {
  color: white; /* Set the font color to white */
  text-decoration: underline; /* Add underline */
  text-decoration-color: green; /* Set the underline color to green */
  font-weight: bold;
}

.custom-link:hover {
  text-decoration-color: lightgreen; /* Optionally change underline color on hover */
}